<div class="login-container">

  <!-- Login Form -->
  @if (isLogin)
  { 
    <div id="loginForm" class="custom-login" >
    <h2>Login</h2>
    <form>
      <input name="user_name" [(ngModel)]="user_name" placeholder="Email" required><br><br>
      <input name="password" [(ngModel)]="password" placeholder="Password" required><br><br>
      <button name="Login" (click)="login()">Login</button>
    </form>
    <br><br>
    <div class="toggle" (click)="showSignup()">
      Already have an account? Sign Up
    </div>
  </div>}

  <!-- Sign Up Form -->
  @if (!isLogin) {
  <div id="signupForm" class="custom-login">
    <h2>Sign Up</h2>
    <form>
      <input name="text" placeholder="Full Name" [(ngModel)]="full_name" required><br><br>
      <input name="email" placeholder="Email" [(ngModel)]="email_id" required><br><br>
      <input name="password" placeholder="Password" [(ngModel)]="password"required><br><br>
      <input name="phonenumber" placeholder="Phone Number" [(ngModel)]="phonenumber"required><br><br>
      <button name="submit" (click)="saveUser()">Sign Up</button>
    </form>
    <div class="toggle" (click)="showSignup()">
      Already have an account? Login
    </div>
  </div>
  }


</div>

