    body {
      font-family: Arial, sans-serif;
      background: #f2f2f2;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      background: white;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
      width: 320px;
    }

    h2 {
      text-align: center;
    }

    input {
      width: 100%;
      padding: 10px;
      margin: 8px 0;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    button {
      width: 100%;
      padding: 10px;
      background: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background: #0056b3;
    }

    .toggle {
      text-align: center;
      margin-top: 15px;
      cursor: pointer;
      color: #007bff;
    }

    .hidden {
      display: none;
    }


    
.login-container {
  background: linear-gradient(135deg, #351c8f, #d42329);
  min-height: 100vh;      
  padding: 50px;    /* optional: full height */
}

.custom-login {
  width: 500px;      /* adjust card width */
  min-height: 500px; /* adjust card height */
  max-width: 100%;   /* responsive */
  margin: 0 auto;      /* center card horizontally */
  padding: 20px;     /* inner spacing */
}

